body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}
h1{
    font-size: 44px;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 10px;
    text-transform: capitalize;
}
h2{
    font-size: 32px;
}
p{
    font-size: 20px;
    padding-right: 10%;
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    color: #fff;
    padding: 15px 40px;
    background-color: orangered;
    border-radius: 20px;
}
.special{
    color: orangered;
}
.half{
    width: 50%;
    margin: 0 50px;
    padding-left: 5%;
}
.half img{
    margin: 0 auto;
    width: 100%;
}
.flex{
    display: flex;
}
section{
    margin: 100px 0;
}
#top-banner p{
    padding-bottom: 30px;
}

/* second section starts */

#about-me{
    background-image: url(image/shapes/banner-05.jpg);
    background-position: right;
    background-repeat: no-repeat;
    margin: auto;
}
#about-me .text{
    margin: auto;
}
#about-me p{
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* third section starts */

#recipy h2{
    text-align: center;
}
#recipy .heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
}
#recipy .flex{
    margin-left: 5%;
    margin-right: 5%;
}
.recipy-item{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px rgba(172, 161, 161, 0.973);
}
.recipy-item img{
    width: 100%;
    height: 250px;
    border-radius: 25px;
}
.recipy-item h3{
    text-align: left;
}
.recipy-item p{
    text-align: left;
}

/* fourth section starts */

#social-media{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    padding: 50px 0;
    border-radius: 15px;
    box-shadow: 10px 10px 30px #ddd;
}
.social{
    display: flex;
    margin: 0 auto;
}
.social-media-item{
    width: 33.33%;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
}
.social-media-item h2{
    padding-left: 100px;
    font-weight: 700;
    font-size: 40px;
}
.social-media-item p{
    padding-left: 100px;
}

/* footer part starts*/
footer{
    background-color: rgb(13, 11, 15);
    padding: 50px 0;
}
footer h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(78, 73, 73);
}
footer p{
    color: #fff;
    text-align: center;
    padding-left: 10%;
}